///fonts///
$font-primary: "ProximaNova";

///colors///
$primary-color: #E58D35;
$text-color:#fff;
$secondary-color: #89C249;
$bg-color: #282B38;
$bg-secondary: #363A4D;
$container-mobile-padding: 20px;